
@mixin styleInput {
    width:100%;
    margin:5px 0 ;
    padding:15px 18px;
    border-radius: 8px;
    outline:none;
    font-size:16px;
}

@mixin styleLabel {
    font-weight: 400;    
}

.normal {
    border:1px solid #828282;
}
.error{
    border: 1px solid #D32F2F;
}

.disabled {
    border: 1px solid #E0E0E0;
}

// ---Normal---

.label_normal{
    color: #333333;
    @include styleLabel;
}
.input_normal{
    @include styleInput;
    &:hover{
        border: 1px solid #333333;
    }
    &:focus{
        border: 1px solid #2962FF;
    }
}

// ---Error---
.label_error{
    color: #D32F2F;
    @include styleLabel;
}
.input_error{
    @include styleInput;
    &:hover{
        border: 1px solid #333333;
    }
    &:focus{
        border: 1px solid #2962FF;
    }
}

// ---Desabilitado---
.input_disabled{
    @include styleInput;
    background: #F2F2F2;
}

.mr{
    padding-left: 2.5em;
}

// ---Other---


.inputColorVerde{
    @include styleInput;
    border: 1px solid #29ff5f;
    
}